.select_container {
  width: 100%;
  display: flex;
  gap: 6px;
}

.select_label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  
  
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select_field {
  width: 100%;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  font-size: 0.9rem;
  outline: none;
  transition: border-color 0.2s ease;
  appearance: none;
}

.select_field:focus {
  border-color: #66a3ff;
}

.error_text {
  color: #ff8a8a;
  font-size: 0.75rem;
  margin-top: 4px;
}
