
.layoutGrid {
  display: grid;
  grid-template-columns: 240px 1fr;
  height: 100vh;
}

.layoutSidebar {
  background-color: #212121; 
  height: 100vh; 
  overflow-y: auto; 
}

.layoutMainContent {
  height: 100vh;
  overflow-y: auto;
  background-color: #010101; 
}

.layoutPageContent {
  padding: 2rem;
}

.layoutGrid {
  transition: grid-template-columns 0.3s ease-in-out;
}

.layoutSidebar {
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.layoutGrid.layoutGridClosed {
  grid-template-columns: 0px 1fr; 
}


.layoutSidebar.layoutSidebarClosed {
  width: 0px; 
  padding: 0; 
  overflow: hidden; 
}