:root {
  --bg-start: #0b1744;
  --bg-end: #0f2a78;

  --glass-bg: rgba(255, 255, 255, 0.06);
  --glass-border: rgba(255, 255, 255, 0.08);

  --text-primary: #eef2ff;
  --text-secondary: rgba(255, 255, 255, 0.75);

  --accent: #5598ff;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    135deg,
    var(--bg-start) 0%,
    var(--bg-end) 100%
  );
  font-family: system-ui, sans-serif;
  color: var(--text-primary);
}

#root {
  width: 100%;
  min-height: 100%;
}

/* ===== AUTOFILL FIX (UI/UX COM GLASS REAL) ===== */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--glass-bg) inset !important;
  box-shadow: 0 0 0px 1000px var(--glass-bg) inset !important;
  -webkit-text-fill-color: var(--text-primary) !important;
  caret-color: var(--text-primary) !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255,255,255,0.10) inset !important;
  box-shadow: 0 0 0px 1000px rgba(255,255,255,0.10) inset !important;
}

/* Firefox */
input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  box-shadow: 0 0 0px 1000px var(--glass-bg) inset !important;
  -moz-text-fill-color: var(--text-primary) !important;
}


select {
  background-color: #0e2469 !important;
  color: rgb(233, 229, 229) !important;
  border: 1px solid var(--glass-border);
  padding: 10px;
  border-radius: 8px;
  appearance: none;
  
}

select option {
  background-color: #0e2469;
  color: var(--text-primary);
}
